/* latin */
@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local('Delius-Regular'), url(https://fonts.gstatic.com/s/delius/v7/bDpuiE0ncvY05_AsiZIWR-vvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  font-family: 'Delius', cursive;
  background-color: #f1efef;
}

 btn:active:focus, .btn:focus {
  outline: none;
}

.margin-top30 {
  margin-top: 30px;
}

.padding-bottom8 {
  padding-bottom: 8px;
}

.padding-bottom24 {
  padding-bottom: 24px;
}

.padding-right10 {
  padding-right: 10px;
}

.padding-right20 {
  padding-right: 20px;
}

.padding-left5 {
  padding-left: 5px;
}

.flex-container {
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     #098cf5 url("../img/signin-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.form-width {
  width: 30vw;
}

.form-panel {
  border: 1px solid white;
    padding: 50px;
    border-radius: 5px;
    background: whitesmoke;
}

.brand-text {
  margin-top: -70px;
  margin-bottom: 20px;
  color: #fff;
}

.user-name-and-icon {
  margin: 15px 25px;
}

.sidebar {
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
}

.card {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.col-spaced {
  margin:10px; padding:10px;
}

.form {
  padding: 40px;
  background-color: #fff;
}

.reg-header {
  margin-top: -4px;
  margin-bottom: 20px;
}

.no-display {
  display: none;
}

.student {
  display: true;
}

.instructor {
  display: true;
}

.courses {
  display: true;
}

ul.dropdown-menu {
  width: 100%;
}

span.users.caret {
  margin-left: 159px;
}

span.courses.caret {
  margin-left: 145px;
}

ul.dropdown-menu li {
  padding: 10px 15px 5px;
  font-size: 15px;
}

ul.dropdown-menu li a {
  height: 38px;
  padding-top: 8px;
}


li.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0px 0px rgba(0,0,0,.175);
  /* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
}

.nav-stacked>li+li {
  margin-top: 10px;
}

.no-dropdown {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}

.dropdown-menu {
  position: relative !important;
}  

.open>.dropdown-menu {
   margin-bottom: 20px;
}

ul.pagination li {
  cursor: pointer;
}

a:focus {
  outline: none;
}

.course-card {
  height: 300px;
  background: #f1efef;
  padding: 20px;
}

[class*=col-] {
    margin-bottom: 15px;
}

.all-courses {
  background-color: #fff;
  padding: 40px;
  max-height: 100vh;
  overflow-y: auto;
}

.course-card hr {
  border-top: 1px solid #000;
}