{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": 0,
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/anchor-is-valid" : 0,
    "function-paren-newline": ["error", "never"],
    "import/no-named-as-default": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0
  }
}